body {
  background-color: #fafafa;
  color: black;
  font-size: 16px;
  font-family: serif, san-serif;
}

h1 {
  font-size: 2em;
  line-height: 50px;
}

p {
  font-size: 100%;
}

figcaption {
  font-size: 85%;
  font-style: italic;
  line-height: 100%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.author {
  font-style: oblique;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 75%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  }

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  line-height: 2em;
  margin: 0 auto;
  width: 50%;
}

a {

  text-decoration: none;
}

a:link {
  color:#0070BB;
  } /* unvisited */

a:visited {
  color:white;
  } /* visited */

a:hover {
  color:#0070BC;
  } /* mouse over */

a:active {
   color:#0070BD;
   } /* selected */
